In [1]:
import os
file_path_list = []
dir_path = "/Users/boysbeanxious/github/samsung/data"

for (root, directories, files) in os.walk(dir_path):
    for file in files:
        if '.xlsx' in file:
            file_path = os.path.join(root, file)
            file_path_list.append(file_path)

* # 2019년부터 2023년 대학 계열별 개황 데이터 수집

In [2]:
file_path_list

['/Users/boysbeanxious/github/samsung/data/2020_대학과정 계열별 개황.xlsx',
 '/Users/boysbeanxious/github/samsung/data/2021_대학과정 계열별 개황.xlsx',
 '/Users/boysbeanxious/github/samsung/data/2019_대학과정 계열별 개황.xlsx',
 '/Users/boysbeanxious/github/samsung/data/2022_대학과정 계열별 개황.xlsx',
 '/Users/boysbeanxious/github/samsung/data/2023_대학과정 계열별 개황.xlsx']

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [4]:
tot_df = pd.DataFrame()
for file_name in file_path_list : 
    df = pd.read_excel(file_name,header=[0,1])
    year_col = file_name.split('/')[-1][0:4]
    df['년도'] = year_col
    tot_df = pd.concat([tot_df, df], axis = 0)

In [5]:
tot_df.dropna(inplace = True)

In [6]:
tot_df = tot_df.set_index([tot_df.iloc[:,0], tot_df.iloc[:,1], tot_df.iloc[:,2]] )
tot_df.index.names = ['대계열', '중계열', '소계열']

In [7]:
tot_df.to_excel('./preprocessed.xlsx', encoding = 'cp949', index=True)

In [8]:
tot_df.columns

MultiIndex([(          '대계열',        '대계열'),
            (          '중계열',        '중계열'),
            (          '소계열',        '소계열'),
            (          '학과수',        '학과수'),
            (        '재적학생수',         '전체'),
            (        '재적학생수',         '남자'),
            (        '재적학생수',         '여자'),
            ('외국인유학생수(학위과정)',         '전체'),
            ('외국인유학생수(학위과정)',         '남자'),
            ('외국인유학생수(학위과정)',         '여자'),
            (        '전임교원수',         '전체'),
            (        '전임교원수',         '남자'),
            (        '전임교원수',         '여자'),
            (   '입학정원 (정원내)', '입학정원 (정원내)'),
            (          '지원자',         '전체'),
            (          '지원자',         '남자'),
            (          '지원자',         '여자'),
            (          '입학자',         '전체'),
            (          '입학자',         '남자'),
            (          '입학자',         '여자'),
            (      '졸업자(학사)',         '전체'),
            (      '졸업자(학사)',         '남자'),
            (      '졸업자(학사)',         '여자'),
            (           '년도',           '')],
           )

* # D1 : 전체 학생 기준 남녀, 지원자 입학자 졸업자 추이 확인

In [10]:
# 대학과정 총계 기준으로 본 재적 학생수, 학과수 지원자, 입학자, 졸업자
D1 = tot_df.loc['대학 과정 총계', ['년도', '재적학생수', '학과수','지원자', '입학자', '졸업자(학사)']].sort_values(by = ['년도'])

In [11]:
col_list = D1.columns.to_list()
col_list = [''.join(x) if x[0]!= x[1] else x[0] for x in col_list]
D1.columns = col_list
D1.reset_index(drop=True, inplace=True)

In [12]:
D1

,년도,재적학생수전체,재적학생수남자,재적학생수여자,학과수,지원자전체,지원자남자,지원자여자,입학자전체,입학자남자,입학자여자,졸업자(학사)전체,졸업자(학사)남자,졸업자(학사)여자
0,2019,2315279.0,1278743.0,1036536.0,12594.0,3237614.0,1628274.0,1609340.0,394387.0,195549.0,198838.0,375409.0,180167.0,195242.0
1,2020,2285139.0,1258325.0,1026814.0,12544.0,3058358.0,1526645.0,1531713.0,394098.0,196386.0,197712.0,384310.0,181342.0,202968.0
2,2021,2250686.0,1234191.0,1016495.0,12862.0,2752516.0,1366990.0,1385526.0,383382.0,192783.0,190599.0,381813.0,181178.0,200635.0
3,2022,2198245.0,1204788.0,993457.0,13065.0,2980910.0,1489329.0,1491581.0,380688.0,192120.0,188568.0,394243.0,184711.0,209532.0
4,2023,2153040.0,1179708.0,973332.0,13210.0,3008265.0,1488917.0,1519348.0,380708.0,191211.0,189497.0,381022.0,177798.0,203224.0

In [13]:
D1.head()
D1.columns

Index(['년도', '재적학생수전체', '재적학생수남자', '재적학생수여자', '학과수', '지원자전체', '지원자남자', '지원자여자',
       '입학자전체', '입학자남자', '입학자여자', '졸업자(학사)전체', '졸업자(학사)남자', '졸업자(학사)여자'],
      dtype='object')

In [14]:
D1[['재적학생수남자비율', '재적학생수여자비율']] = np.round(D1.loc[:, ['재적학생수남자', '재적학생수여자']].div(D1['재적학생수전체'], axis = 0)*100, 2)

In [15]:
D1[['년도', '재적학생수남자비율', '재적학생수여자비율']]

     년도  재적학생수남자비율  재적학생수여자비율
0  2019      55.23      44.77
1  2020      55.07      44.93
2  2021      54.84      45.16
3  2022      54.81      45.19
4  2023      54.79      45.21

In [16]:
D1['학과수 증감율'] = np.round(D1[['학과수']].pct_change()*100, 2)
# .pct_change()

In [17]:
D1[['년도', '학과수', '학과수 증감율']]

     년도      학과수  학과수 증감율
0  2019  12594.0      NaN
1  2020  12544.0    -0.40
2  2021  12862.0     2.54
3  2022  13065.0     1.58
4  2023  13210.0     1.11

# . D2 : 계열 기준 남녀 지원자 입학자 졸업자 추이 확인

In [22]:
condition = ~(tot_df.xs('[소계]', level = '소계열')['대계열']['대계열']=='대학 과정 총계').values
tot_df.xs('[소계]', level = '소계열').loc[condition, ['년도','학과수', '재적학생수','지원자', '입학자', '졸업자(학사)']]\
            .sort_values(by = ['대계열', '년도'])
D2 = tot_df

In [23]:
tot_df.loc[['공학계열'], ['년도','학과수', '재적학생수','지원자', '입학자', '졸업자(학사)']]\
            .sort_values(by = ['대계열', '년도'])

                     년도     학과수     재적학생수                           지원자  \
                            학과수        전체        남자        여자        전체
대계열  중계열  소계열
공학계열 [소계] [소계]     2019  2974.0  599299.0  480794.0  118505.0  878367.0
     건축   [중계열 계]  2019   373.0   55802.0   40001.0   15801.0   85043.0
          건축ㆍ설비공학  2019   151.0   22582.0   18219.0    4363.0   30616.0
          건축학      2019   180.0   28322.0   18674.0    9648.0   49375.0
          조경학      2019    42.0    4898.0    3108.0    1790.0    5052.0
...                 ...     ...       ...       ...       ...       ...
     화공   화학공학     2023   140.0   28800.0   17996.0   10804.0   43007.0
     기타   [중계열 계]  2023   316.0   43051.0   32740.0   10311.0   88321.0
          교양공학     2023    71.0   11835.0    7880.0    3955.0   57665.0
          기전공학     2023    73.0    7540.0    6639.0     901.0   10574.0
          응용공학     2023   172.0   23676.0   18221.0    5455.0   20082.0

                                            입학자                    졸업자(학사)  \
                         남자        여자        전체       남자       여자       전체
대계열  중계열  소계열
공학계열 [소계] [소계]     655222.0  223145.0  102179.0  77382.0  24797.0  85016.0
     건축   [중계열 계]   58148.0   26895.0    9553.0   6445.0   3108.0   7681.0
          건축ㆍ설비공학   23382.0    7234.0    3729.0   2800.0    929.0   3402.0
          건축학       31917.0   17458.0    5083.0   3241.0   1842.0   3449.0
          조경학        2849.0    2203.0     741.0    404.0    337.0    830.0
...                     ...       ...       ...      ...      ...      ...
     화공   화학공학      23303.0   19704.0    4718.0   2623.0   2095.0   5414.0
     기타   [중계열 계]   57410.0   30911.0   11559.0   8155.0   3404.0   5593.0
          교양공학      35464.0   22201.0    5515.0   3578.0   1937.0    780.0
          기전공학       8525.0    2049.0    1457.0   1213.0    244.0   1230.0
          응용공학      13421.0    6661.0    4587.0   3364.0   1223.0   3583.0


                        남자       여자
대계열  중계열  소계열
공학계열 [소계] [소계]     65620.0  19396.0
     건축   [중계열 계]   5164.0   2517.0
          건축ㆍ설비공학   2669.0    733.0
          건축학       2034.0   1415.0
          조경학        461.0    369.0
...                    ...      ...
     화공   화학공학      3060.0   2354.0
     기타   [중계열 계]   4082.0   1511.0
          교양공학       499.0    281.0
          기전공학      1060.0    170.0
          응용공학      2523.0   1060.0

[200 rows x 14 columns]

In [21]:
tot_df.loc[['자연계열'], ['년도','학과수', '재적학생수','지원자', '입학자', '졸업자(학사)']]\
            .sort_values(by = ['대계열', '년도'])

                            년도     학과수     재적학생수                      \
                                   학과수        전체        남자        여자
대계열  중계열         소계열
자연계열 [소계]        [소계]     2019  1664.0  252176.0  134663.0  117513.0
     농림ㆍ수산       [중계열 계]  2019   120.0   18627.0   10886.0    7741.0
                 농업학      2019    42.0    9940.0    6007.0    3933.0
                 산림ㆍ원예학   2019    71.0    8238.0    4547.0    3691.0
                 수산학      2019     7.0     449.0     332.0     117.0
...                        ...     ...       ...       ...       ...
     수학ㆍ물리ㆍ천문ㆍ지리 물리ㆍ과학    2023    80.0   11542.0    9156.0    2386.0
                 수학       2023    86.0   12443.0    8762.0    3681.0
                 지구ㆍ지리학   2023    33.0    4719.0    3027.0    1692.0
                 천문ㆍ기상학   2023    11.0    1656.0    1109.0     547.0
                 통계학      2023    97.0   16682.0    9421.0    7261.0

                               지원자                          입학자           \
                                전체        남자        여자       전체       남자
대계열  중계열         소계열
자연계열 [소계]        [소계]     368607.0  178805.0  189802.0  42881.0  20272.0
     농림ㆍ수산       [중계열 계]   19396.0   10303.0    9093.0   3357.0   1806.0
                 농업학        6139.0    3724.0    2415.0   1518.0    881.0
                 산림ㆍ원예학    12941.0    6344.0    6597.0   1771.0    878.0
                 수산학         316.0     235.0      81.0     68.0     47.0
...                            ...       ...       ...      ...      ...
     수학ㆍ물리ㆍ천문ㆍ지리 물리ㆍ과학     17986.0   13008.0    4978.0   1756.0   1292.0
                 수학        16572.0   10752.0    5820.0   1920.0   1280.0
                 지구ㆍ지리학     7271.0    4153.0    3118.0    902.0    538.0
                 천문ㆍ기상학     2330.0    1381.0     949.0    287.0    170.0
                 통계학       16701.0    8950.0    7751.0   2247.0   1173.0

                                   졸업자(학사)
                               여자       전체       남자       여자
대계열  중계열         소계열
자연계열 [소계]        [소계]     22609.0  40027.0  18622.0  21405.0
     농림ㆍ수산       [중계열 계]   1551.0   2645.0   1367.0   1278.0
                 농업학        637.0   1357.0    762.0    595.0
                 산림ㆍ원예학     893.0   1206.0    553.0    653.0
                 수산학         21.0     82.0     52.0     30.0
...                           ...      ...      ...      ...
     수학ㆍ물리ㆍ천문ㆍ지리 물리ㆍ과학      464.0   1824.0   1308.0    516.0
                 수학         640.0   2183.0   1271.0    912.0
                 지구ㆍ지리학     364.0    712.0    388.0    324.0
                 천문ㆍ기상학     117.0    285.0    160.0    125.0
                 통계학       1074.0   2523.0   1296.0   1227.0

[120 rows x 14 columns]